<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Feedback</title>
  <link  rel="icon" href="{{ url_for('static', filename='logo2.png') }}" type="image/png">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>

</head>

<body class="gradient-custom2 p-2 ">
    <!--Navigation bar  Start-->
         <!--Logo -->
         <nav class="navbar fixed-top navbar-expand-md navbar-dark bg-light gradient-custom fixed-top" >
            <div class="container-fluid">
              <a class="navbar-brand" href="index1.html"><img src="{{ url_for('static', filename='logo.png') }}" alt="Logo" width="250"  class="d-inline-block align-text-top"></a>
              <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="offcanvas offcanvas-end text-bg-sucess center" tabindex="-1" id="offcanvasDarkNavbar" aria-labelledby="offcanvasDarkNavbarLabel">
                <div class="offcanvas-header">
                    <h5 class="offcanvas-title" id="offcanvasDarkNavbarLabel">Menu</h5>
                    <button type="button" class="btn-close btn-close-dark btn-center" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>
                <div class="collapse navbar-collapse d-flex justify-content-center" id="navbarScroll">
                  <ul class="nav nav-pills nav-fill gap-2 p-1 small bg-custom12 rounded-5 shadow-sm" id="pillNav2" role="tablist" style="--bs-nav-link-color: var(--bs-white); --bs-nav-pills-link-active-color: var(--bs-customt); --bs-nav-pills-link-active-bg: var(--bs-white); margin: 10px; width: 50%; ">
                    <li class="nav-item" role="presentation">
                        <a class="nav-link  rounded-5  " style="margin: 15px;" aria-current="page" href="Home.html"><strong>Home</strong></a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a class="nav-link active rounded-5" style="margin: 15px;" aria-current="page" href="index1.html"> <strong>Feedback</strong></a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a class="nav-link  rounded-5" style="margin: 15px;" href="/"><strong>Analyze Sentiment</strong></a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a class="nav-link  rounded-5" style=" margin-right: 30px;  margin-top: 15px; margin-bottom: 15px; " href="update.html"><strong>Update Questions</strong></a>
                    </li>
                </ul>
                </div>
            </div>
        </div>
      </nav>
    <!--Navigation bar  Start-->
 
 
    <div class="container mt-4" id="questionContainer" style="padding-top: 200px; padding-left: 200px; padding-right: 200px; margin-right: 50px; font-family: 'Inria Serif', serif;">
      <div class="card">
        <h5 class="card-header " id="questionHeader" style="text-align: center; padding-top: 35px; padding-bottom: 35px; font-size: xx-large;"></h5>
        <div class="card-body">
          <h2 class="card-text" id="questionText" style="padding-top: 35px; padding-bottom: 5px; font-family: 'Inria Serif', serif;"></h2> 
          <div class="form-check d-flex align-items-center" style="padding-right: 25px; padding-top: 10px; padding-bottom: 10px;">
            <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="Yes" style="width: 25px; height: 25px; margin-right: 10px;">
            <label class="form-check-label" for="exampleRadios1" style="font-size: 30px;">Yes</label>
          </div>
          <div class="form-check d-flex align-items-center" style="padding-right: 25px; padding-top: 5px; padding-bottom: 10px;">
            <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="No" style="width: 25px; height: 25px; margin-right: 10px;">
            <label class="form-check-label" for="exampleRadios2" style="font-size: 30px;">No</label>
          </div>
          <div class="form-group mt-3">
            <label for="exampleFormControlInput1" style="padding-bottom: 5px;"><h2>Additional Comments:</h2></label>
            <div style="padding-top: 15px;">
              <input type="text" class="form-control" id="exampleFormControlInput1" name="comments" placeholder="Enter your comments here" style="width: 100%; height: 60px;">
            </div>
            
          </div>
          <div class="d-flex justify-content-between" style="padding-top: 25px;">
            <button type="button" class="btn btn-outline-custom" id="prevButton" style="--bs-btn-padding-x: 50px; text-align: center;"><h6>Previous</h6></button>
            <button type="submit" class="btn btn-outline-custom" id="nextButton" style="--bs-btn-padding-x: 50px; text-align: center;"><h6>Next</h6></button>
          </div>
          
        </div>
      </div>
  </div>




  <div id="customAlert" class="custom-alert">
    <span class="close-btn" onclick="closeCustomAlert()">&times;</span>
    <p id="alertMessage"></p>
    <button onclick="closeCustomAlert()" type="button" class="btn btn-outline-custom1 " id="Button12" style="padding-top: 5px;">OK</button>
</div>


  <script src="../static/index.js"></script>

</body>
</html>
